.stagebox {
    background-color: lightblue;
    border: solid;
    border-color: blue;
    border-radius: 5px;
}

body{
    /*background-color:lightblue;*/
    background-image: url("https://i.giphy.com/media/l41YlHs99JsSptZf2/200_s.gif");
}

#instructions {
    background-color: lightblue;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}